-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: webinar_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `about_sections`
--

DROP TABLE IF EXISTS `about_sections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `about_sections` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `content` longtext NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `about_sections`
--

LOCK TABLES `about_sections` WRITE;
/*!40000 ALTER TABLE `about_sections` DISABLE KEYS */;
/*!40000 ALTER TABLE `about_sections` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admins`
--

DROP TABLE IF EXISTS `admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admins` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admins`
--

LOCK TABLES `admins` WRITE;
/*!40000 ALTER TABLE `admins` DISABLE KEYS */;
INSERT INTO `admins` VALUES (1,'admin@example.com','$2b$10$C526PjAv4AwqJhqyJkNqi.ccNcjkoByRNh/sKRoaDVWZ4en7kM3eS','2026-07-23 09:59:53'),(2,'security-test@example.com','$2b$10$35xwM6GmEHol0FAQVAIrmO8dlj6PuzVdepCj7mxIby3Ratc1rIUAW','2026-09-09 10:00:47');
/*!40000 ALTER TABLE `admins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `content_sections`
--

DROP TABLE IF EXISTS `content_sections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `content_sections` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `slug` varchar(50) NOT NULL,
  `content` longtext NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `content_sections`
--

LOCK TABLES `content_sections` WRITE;
/*!40000 ALTER TABLE `content_sections` DISABLE KEYS */;
/*!40000 ALTER TABLE `content_sections` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `email_logs`
--

DROP TABLE IF EXISTS `email_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `email_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `registration_id` int(11) NOT NULL,
  `email` varchar(255) NOT NULL,
  `email_type` varchar(100) NOT NULL DEFAULT 'registration_confirmation',
  `status` enum('pending','sent','failed') NOT NULL DEFAULT 'pending',
  `message_id` varchar(500) DEFAULT NULL,
  `error_message` text DEFAULT NULL,
  `retry_count` int(11) NOT NULL DEFAULT 0,
  `sent_at` datetime DEFAULT NULL,
  `last_attempt_at` datetime DEFAULT NULL,
  `next_retry_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_registration_email_type` (`registration_id`,`email_type`),
  KEY `idx_email_logs_registration_id` (`registration_id`),
  KEY `idx_email_logs_email` (`email`),
  KEY `idx_email_logs_status` (`status`),
  KEY `idx_email_logs_type` (`email_type`),
  CONSTRAINT `fk_email_log_registration` FOREIGN KEY (`registration_id`) REFERENCES `registrations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `email_logs`
--

LOCK TABLES `email_logs` WRITE;
/*!40000 ALTER TABLE `email_logs` DISABLE KEYS */;
INSERT INTO `email_logs` VALUES (2,2,'teastaadmin@example.com','registration_confirmation','failed',NULL,'Message failed: 554 Message rejected: Email address is not verified. The following identities failed the check in region US-EAST-1: teastaadmin@example.com',7,NULL,'2026-09-16 15:05:03','2026-09-16 15:20:03','2026-09-16 09:32:32','2026-09-16 09:35:03'),(6,3,'vaishnavimanikeri@gmail.com','registration_confirmation','sent','<4f63e3a7-a2cd-c7d4-12cd-f592da125f7d@gmail.com>',NULL,0,'2026-09-18 12:14:59','2026-09-18 12:14:59',NULL,'2026-09-18 06:44:55','2026-09-18 06:44:59');
/*!40000 ALTER TABLE `email_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leads`
--

DROP TABLE IF EXISTS `leads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `leads` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `first_name` varchar(100) NOT NULL,
  `last_name` varchar(100) NOT NULL,
  `email` varchar(255) NOT NULL,
  `phone` varchar(30) NOT NULL,
  `city` varchar(100) DEFAULT NULL,
  `role` varchar(100) DEFAULT NULL,
  `source` varchar(100) DEFAULT 'Website',
  `lead_status` enum('new','registered','interested','converted','lost') DEFAULT 'new',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_leads_email` (`email`),
  KEY `idx_leads_email` (`email`),
  KEY `idx_leads_status` (`lead_status`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leads`
--

LOCK TABLES `leads` WRITE;
/*!40000 ALTER TABLE `leads` DISABLE KEYS */;
INSERT INTO `leads` VALUES (2,'test','admin','teastaadmin@example.com','08237370045','ichalkaranji','Senior leader','Website','registered','2026-09-16 09:32:04','2026-09-16 09:32:04'),(3,'Vaishnavi','Manikeri','vaishnavimanikeri@gmail.com','08237370045','ichalkaranji','Founder or entrepreneur','Website','registered','2026-09-18 06:44:24','2026-09-18 06:44:24');
/*!40000 ALTER TABLE `leads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_webhook_logs`
--

DROP TABLE IF EXISTS `payment_webhook_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payment_webhook_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `event_id` varchar(255) NOT NULL,
  `event_type` varchar(100) NOT NULL,
  `payment_id` varchar(255) DEFAULT NULL,
  `order_id` varchar(255) DEFAULT NULL,
  `signature_valid` tinyint(1) NOT NULL DEFAULT 0,
  `processing_status` enum('received','processed','failed','skipped') NOT NULL DEFAULT 'received',
  `error_message` text DEFAULT NULL,
  `processed_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `event_id` (`event_id`),
  KEY `idx_webhook_event_type` (`event_type`),
  KEY `idx_webhook_payment_id` (`payment_id`),
  KEY `idx_webhook_order_id` (`order_id`),
  KEY `idx_webhook_status` (`processing_status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_webhook_logs`
--

LOCK TABLES `payment_webhook_logs` WRITE;
/*!40000 ALTER TABLE `payment_webhook_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment_webhook_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `registration_id` int(11) NOT NULL,
  `order_id` varchar(255) DEFAULT NULL,
  `payment_id` varchar(255) DEFAULT NULL,
  `amount` decimal(10,2) NOT NULL DEFAULT 249.00,
  `currency` varchar(10) NOT NULL DEFAULT 'INR',
  `status` enum('pending','paid','failed') NOT NULL DEFAULT 'pending',
  `method` varchar(50) DEFAULT NULL,
  `paid_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `order_id` (`order_id`),
  UNIQUE KEY `payment_id` (`payment_id`),
  KEY `fk_payment_registration` (`registration_id`),
  CONSTRAINT `fk_payment_registration` FOREIGN KEY (`registration_id`) REFERENCES `registrations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
INSERT INTO `payments` VALUES (2,2,'order_Tcf5Ll7nhlLPl0','pay_Tcf5WbG2ayRjVm',150.00,'INR','paid','netbanking','2026-09-16 15:02:32','2026-09-16 09:32:05','2026-09-16 09:32:32'),(3,3,'order_TdPIV28R18Icj3','pay_TdPIih3QHQuuhA',650.00,'INR','paid','wallet','2026-09-18 12:14:55','2026-09-18 06:44:24','2026-09-18 06:44:55');
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `registrations`
--

DROP TABLE IF EXISTS `registrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `registrations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `lead_id` int(11) NOT NULL,
  `webinar_id` int(11) NOT NULL,
  `first_name` varchar(100) NOT NULL,
  `last_name` varchar(100) NOT NULL,
  `email` varchar(255) NOT NULL,
  `phone` varchar(30) NOT NULL,
  `city` varchar(100) DEFAULT NULL,
  `role` varchar(150) DEFAULT NULL,
  `goal` text DEFAULT NULL,
  `consent` tinyint(1) DEFAULT 0,
  `registration_status` enum('registered','cancelled') DEFAULT 'registered',
  `payment_status` enum('pending','paid','failed') DEFAULT 'pending',
  `registered_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `webinar_title_snapshot` varchar(255) DEFAULT NULL,
  `webinar_subtitle_snapshot` text DEFAULT NULL,
  `webinar_date_snapshot` date DEFAULT NULL,
  `webinar_time_snapshot` varchar(50) DEFAULT NULL,
  `webinar_duration_snapshot` varchar(100) DEFAULT NULL,
  `webinar_language_snapshot` varchar(100) DEFAULT NULL,
  `webinar_platform_snapshot` varchar(100) DEFAULT NULL,
  `webinar_price_snapshot` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_registrations_email` (`email`),
  KEY `fk_registration_lead` (`lead_id`),
  KEY `fk_registration_webinar` (`webinar_id`),
  CONSTRAINT `fk_registration_lead` FOREIGN KEY (`lead_id`) REFERENCES `leads` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_registration_webinar` FOREIGN KEY (`webinar_id`) REFERENCES `webinars` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `registrations`
--

LOCK TABLES `registrations` WRITE;
/*!40000 ALTER TABLE `registrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `registrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `site_settings`
--

DROP TABLE IF EXISTS `site_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `site_settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `setting_key` varchar(100) NOT NULL,
  `setting_value` longtext NOT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `setting_key` (`setting_key`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `site_settings`
--

LOCK TABLES `site_settings` WRITE;
/*!40000 ALTER TABLE `site_settings` DISABLE KEYS */;
INSERT INTO `site_settings` VALUES (1,'typography','{\"headingFont\":\"Playfair Display\",\"headingSize\":\"large\",\"subheadingFont\":\"Playfair Display\",\"subheadingSize\":\"large\",\"bodyFont\":\"Poppins\",\"bodySize\":\"balanced\"}','2026-09-04 12:15:57');
/*!40000 ALTER TABLE `site_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `webinar_reminder_logs`
--

DROP TABLE IF EXISTS `webinar_reminder_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `webinar_reminder_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `registration_id` int(11) NOT NULL,
  `reminder_type` enum('reminder_24h','reminder_3h','reminder_30m') NOT NULL,
  `email_status` enum('pending','sent','failed','skipped') NOT NULL DEFAULT 'pending',
  `whatsapp_status` enum('pending','sent','failed','skipped') NOT NULL DEFAULT 'pending',
  `email_message_id` varchar(500) DEFAULT NULL,
  `whatsapp_message_id` varchar(500) DEFAULT NULL,
  `email_sent_at` datetime DEFAULT NULL,
  `whatsapp_sent_at` datetime DEFAULT NULL,
  `retry_count` int(11) NOT NULL DEFAULT 0,
  `error_message` text DEFAULT NULL,
  `scheduled_at` datetime NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_registration_reminder` (`registration_id`,`reminder_type`),
  KEY `idx_reminder_registration_id` (`registration_id`),
  KEY `idx_reminder_type` (`reminder_type`),
  KEY `idx_reminder_email_status` (`email_status`),
  KEY `idx_reminder_whatsapp_status` (`whatsapp_status`),
  KEY `idx_reminder_scheduled_at` (`scheduled_at`),
  CONSTRAINT `fk_reminder_registration` FOREIGN KEY (`registration_id`) REFERENCES `registrations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `webinar_reminder_logs`
--

LOCK TABLES `webinar_reminder_logs` WRITE;
/*!40000 ALTER TABLE `webinar_reminder_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `webinar_reminder_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `webinars`
--

DROP TABLE IF EXISTS `webinars`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `webinars` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `subtitle` text DEFAULT NULL,
  `date` varchar(100) DEFAULT NULL,
  `time` varchar(100) DEFAULT NULL,
  `duration` varchar(100) DEFAULT NULL,
  `language` varchar(50) DEFAULT NULL,
  `platform` varchar(50) DEFAULT NULL,
  `price` varchar(50) DEFAULT NULL,
  `zoom_meeting_id` varchar(100) DEFAULT NULL,
  `zoom_join_url` text DEFAULT NULL,
  `zoom_start_url` text DEFAULT NULL,
  `zoom_password` varchar(255) DEFAULT NULL,
  `zoom_created_at` datetime DEFAULT NULL,
  `background_image` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `webinars`
--

LOCK TABLES `webinars` WRITE;
/*!40000 ALTER TABLE `webinars` DISABLE KEYS */;
INSERT INTO `webinars` VALUES (1,'Abundance CrossroadΓäó','The 2-Day Experience That Will Transform the Way You Make Decisions About Money, Success, Leadership and Life.','2026-09-16','08:00PM-10:00PM','2 Hr','English','Zoom','650','mock-1788763638583','https://zoom.us/j/mock-1788763638583','https://zoom.us/s/mock-1788763638583','ABC123','2026-09-07 12:17:18','/uploads/bg-1789551956103-355663516.png','2026-07-23 10:03:01','2026-09-18 05:48:49');
/*!40000 ALTER TABLE `webinars` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `whatsapp_logs`
--

DROP TABLE IF EXISTS `whatsapp_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `whatsapp_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `registration_id` int(11) NOT NULL,
  `phone` varchar(30) NOT NULL,
  `whatsapp_type` varchar(100) NOT NULL DEFAULT 'registration_confirmation',
  `status` enum('pending','sent','failed') NOT NULL DEFAULT 'pending',
  `message_id` varchar(500) DEFAULT NULL,
  `error_message` text DEFAULT NULL,
  `retry_count` int(11) NOT NULL DEFAULT 0,
  `sent_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_registration_whatsapp_type` (`registration_id`,`whatsapp_type`),
  KEY `idx_whatsapp_logs_registration_id` (`registration_id`),
  KEY `idx_whatsapp_logs_phone` (`phone`),
  KEY `idx_whatsapp_logs_status` (`status`),
  KEY `idx_whatsapp_logs_type` (`whatsapp_type`),
  CONSTRAINT `fk_whatsapp_log_registration` FOREIGN KEY (`registration_id`) REFERENCES `registrations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `whatsapp_logs`
--

LOCK TABLES `whatsapp_logs` WRITE;
/*!40000 ALTER TABLE `whatsapp_logs` DISABLE KEYS */;
INSERT INTO `whatsapp_logs` VALUES (2,2,'08237370045','registration_confirmation','sent','<mock-whatsapp-1789551156951@example.com>',NULL,0,'2026-09-16 15:02:36','2026-09-16 09:32:36','2026-09-16 09:32:36'),(3,3,'08237370045','registration_confirmation','sent','<mock-whatsapp-1789713899162@example.com>',NULL,0,'2026-09-18 12:14:59','2026-09-18 06:44:59','2026-09-18 06:44:59');
/*!40000 ALTER TABLE `whatsapp_logs` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-18 14:15:08
